@import "../../date";

.container-table-dosage {
  margin-top: 1rem;
  .title-table-dosage {
    font-size: 1rem;
    font-weight: 500;
  }
  .table-dosage {
    margin-top: 0.5rem;
    thead > tr > th {
      background-color: #fff1c7;
    }
  }
}
