@font-face {
  font-family: "exo2";
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: url(../font/Exo_2/static/Exo2-Light.ttf) format("truetype");
}
@font-face {
  font-family: "exo2bold";
  src: url(../font/Exo_2/static/Exo2-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url(../font/Roboto/Roboto-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "montserrat";
  src: url(../font/Montserrat/Montserrat-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "ubuntu";
  src: url(../font/Ubuntu/Ubuntu-Light.ttf) format("truetype");
}
@font-face {
  font-family: "ubuntubold";
  src: url(../font/Ubuntu/Ubuntu-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "quicksand";
  src: url(../font/Quicksand/static/Quicksand-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "quicksandbold";
  src: url(../font/Quicksand/static/Quicksand-SemiBold.ttf) format("truetype");
}

//---------------------------------------------------
//TIPOGRAFIA PRINCIPAL
$tipografia-one: "ubuntu";
$tipografia-two: "quicksand";
$tipografia-one-bold: "ubuntubold";
$tipografia-two-bold: "quicksandbold";

//Tipografias SECUNDARIA
$tipografia-uno: "roboto";
$tipografia-dos: "exo2";
$tipografia-tres: "montserrat";
$tipografia-cuatro: "exo2bold";

//Color#40A9FF
$primary-color: #7f3ffd;
$primary-color-light: #fbf8ff;
$secundary-color: #d8fc00;
$secundary-color-light: #f8fce4;

$color-uno: #2b2d42;
$color-dos: #072ac8;
$color-tres: #8cff98;
$color-cuatro: #40a9ff;

$color-blanco: #fff;
$color-negro: #000;

//Tamanio de TIPOGRAFIA
$title: 1.1rem;
$subtitle: 1rem;
$title-form: 0.9rem;
