@import "./date";
//---------------------------------------------------
//ALERTA WARNING
.message-warning {
  font-family: $tipografia-two-bold;
  color: black;
}

.message-error {
  font-family: $tipografia-two-bold;
  color: black;
}

.message-success {
  font-family: $tipografia-two-bold;
  color: black;
}
//TITULOS DE FORMULARIOs
.title-formulario {
  font-family: $tipografia-two;
  font-size: $title-form;
  margin-top: 0.2rem;
  font-weight: 700;
}
.input-form {
  margin-bottom: 0.3rem;
  .input-unique {
    font-family: $tipografia-one;
  }
}
